$mobile-width: 500px;

$clr-dark: #2d3142;
$clr-dark-lighter: #2A2D3C;
$clr-light: #F8FDFB;
$clr-sec: #FACB0F;
$clr-tert: #FCDC5F;
$clr-accent1: #0F94BD;
$clr-accent2: #7BD8F4;

$ff-primary: 'Source Sans Pro', monospace;
$ff-mono: 'IBM Plex Mono', monospace;
$ff-pixel: 'TheGoodMonolith', monospace;
